name: tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
          cache: true
      - name: Run Linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
          cache: true
      - name: Build
        run: go build -v ./...
      - name: Run Tests
        run: go test -json ./... > test-results.json
      - name: Annotate Tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.6.0
        with:
          test-results: test-results.json
